<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/relieve.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <form action="/form" method="post">
      <h1>Formulário</h1>
       

      <label for="email">Email: </label>
      <input type="email" name="email" id="email" value="<%= email %>">
      <p class="red"><%= emailError %></p>
  
      <label for="name">Nome: </label>
      <input type="text" name="name" id="name" value="<%= name %>">
      <p class="red"><%= nameError %></p>
  
      <label for="pontos">Pontos: </label>
      <input type="number" name="pontos" id="pontos" value="<%= pontos %>">
      <p class="red"><%= pontosError %></p>
  
      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>